{{ define "main" }}
    <h2 class="page-title"> 
        <span class="symbol">&lt;</span>  
        <span class="name">demian prykhodko</span> 
        <span class="symbol">&gt;</span>
    </h2>

    <div id="description">
        <p>{{ .Params.description }}</p>

        <p>{{ .Content }}</p>

        <p>Take a look at <a href="/work">my work</a>, grab a <a href="/joke">random dev joke</a> or <br> <a id="toggle-contact" href="#">get in touch</a>.</p>
    </div>

    <div id="contact-icons" class="hidden">
        <a href="mailto:d.prykhodko55@gmail.com">
            <img src="/icons/email.svg" alt="Email" width="35">
        </a>
        <a href="https://github.com/demianprykhodko" target="_blank">
            <img src="/icons/github.svg" alt="GitHub" width="35">
        </a>
    </div>

    <script>
        document.getElementById("toggle-contact").addEventListener("click", function(event) {
        event.preventDefault();
        var icons = document.getElementById("contact-icons");

        if (icons.classList.contains("hidden")) {
            icons.classList.remove("hidden", "hide");
            icons.classList.add("show");
        } else {
            icons.classList.remove("show");
            icons.classList.add("hide");
            setTimeout(() => {
                icons.classList.remove("hide");
                icons.classList.add("hidden");
            }, 500);
        }
    });
    </script>
{{ end }}
